@import "tailwindcss";
@import "styles/theme.css";
@import "styles/typography.css";
@import "styles/components.css";

html,
body {
	font-optical-sizing: auto;
	font-style: normal;
	@apply box-border m-0 p-0 font-sg bg-black font-semibold text-milk;
}
