@import "tailwindcss";
@import "styles/theme.css";
@import "styles/typography.css";
@import "styles/components.css";

html,
body {
	font-optical-sizing: auto;
	font-weight: 600; /*default font weight */
	font-style: normal;
	@apply box-border m-0 p-0 font-sg;
}
